#!/usr/bin/env bash

set -euo pipefail

PACKAGES=(
    git curl wget unzip
    build-essential
    ripgrep fd-find
    fzf zsh
)
sudo apt-get update
sudo apt-get install -y "${PACKAGES[@]}"


# Change shell to ZSH
target_shell="$(command -v zsh)"
current_shell="$(getent passwd "$USER" | cut -d: -f7)"
if [[ "$current_shell" != "$target_shell" ]]; then
    sudo chsh -s "$target_shell" "$USER"
fi


ln -sf "$(which fdfind)" ~/.local/bin/fd
